body
  font-size: 18px
  font-family: Courier, monospace

#wrapper
  width: 960px
  margin: 0 auto

  .slide
    font-size: 20px

#slides
  padding: 5px
  background: #efefef
  border: 1px solid black
  height: 100px

  .word
    cursor: pointer
    display: inline-block
    padding: 5px

    &:hover
      background: wheat

  .precedes-a-semicolon
    padding-right: 0

  .semicolon
    padding-left: 0
    margin-left: -3px

  .keywordVar
    color: brown

  .varName
    color: darkcyan

  .htmlOpenAngle
    padding-right: 0
  .htmlTagName
    color: darkcyan
    padding-left: 0
    padding-right: 0
  .htmlCloseAngle, .htmlClosingTag
    padding-left: 0
    padding-right: 0
  .htmlAttrName:
    margin-left: 5px
  .htmlAttrValue
    padding-right: 0
  .htmlTextContent
    padding-left: 0
    padding-right: 0

#tooltip
  height: 45px

  #word, #definition
    box-sizing: border-box
    display: inline-block
    height: 100%
    border: 1px solid black
    border-top: 0
    vertical-align: top
    padding: 10px

  #word
    width: 20%
    background: cornflowerblue
    border-right: 0
    text-align: center
    font-weight: bold

  #definition
    width: 80%
    background: aliceblue
    border-left: 0
    font-family: Lato, Verdana
