!!!html
%html{lang: "en"}
  %head
    %title The Scopeoscope
    %style{type: "text/css"}= sass
  %body
    #wrapper
      #slides
      #tooltip
        #word>
        #definition>

    %script= "var data = #{json};"
    %script= javascript

