!!!html
%html{lang: "en"}
  %head
    %title Oh Boy
    %style{type: "text/css"}= sass
  %body
    #wrapper
      #slides
      #tooltip
        #word>
        #definition>

    %script{src: "https://use.fontawesome.com/98ace7bdc4.js"}
    %script= "var data = #{json};"
    %script= javascript

