!!!html
%html{lang: "en"}
  %head
    %title The Scopeoscope
    %style{type: "text/css"}= sass
  %body
    #wrapper
      %h1 The Scriptoscope
      #slides
      #tooltip
      %footer © no one in particular, circa 2000

    %script= "var data = #{json};"
    %script= javascript

    :javascript
      Slides.initialize();
      //Editor.initialize();
