!!!html
%html{lang: "en"}
  %head
    %title The Scopeoscope
    %style{type: "text/css"}= sass
  %body
    #wrapper
      #slides
      #tooltip
    %br
    * write the definition, THEN click and drag to select, then click Define

    %script= "var data = #{json};"
    %script= javascript

