!!!html
%html{lang: "en"}
  %head
    %title scopey
    %style{type: "text/css"}= sass
  %body
    #wrapper
      %h1 scopey
      #slides
      #tooltip

    %script= "var data = #{json};"
    %script= javascript

    :javascript
      Slides.initialize();
      TooltipManager.initialize();
      //Editor.initialize();
